body {
    display: grid;
    background-color: #ffffff;
    color: #000000;
    grid-template-columns: 13% 37% 13% 20%;
    grid-template-rows: 10vh 15vh 15vw;
    grid-row-gap: 20px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.Heading {
    grid-row-start: 1;
    grid-column-start: 1;
    margin: auto;
  
    font-family: 'Gilroy-Medium';
    letter-spacing: 3px;
    -webkit-text-stroke-width: 0.15vw;
    font-size: 2vw;
    color: #000000;

    text-shadow: 2px 2px 40px #797979;
}

.Wallet {
    grid-row-start: 1;
    grid-column-start: 5;
    margin: auto;
    text-align: center;

    background-color: #000000;
    border-radius: 1vw;
    border: 0.25vw solid #ffffff;
    color: #ffffff;
    text-align: center;
    font-family: 'Gilroy-Light';
    -webkit-text-stroke-width: 0.1vw;
    letter-spacing: 1px;
    font-size: 1.3vw;
    width: 15vw;
    padding-top: 1.2vh;
    height: 5vh;
    cursor: pointer;
}

.NFTName {
    grid-row-start: 2;
    grid-column-start: 2;
    margin-top: 4vw;

    font-family: 'Gilroy-Medium';
    letter-spacing: 3px;
    -webkit-text-stroke-width: 0.25vw;
    font-size: 3.75vw;
    color: #000000;
}

.NFTNo {
    grid-row-start: 2;
    grid-column-start: 2;
    margin-top: 9vw;

    font-family: 'Gilroy-Medium';
    letter-spacing: 3px;
    -webkit-text-stroke-width: 0.1vw;
    font-size: 1.5vw;
    color: #DADADA;
}

.DescriptionHeading {
    grid-row-start: 3;
    grid-column-start: 2;
    margin-top: 6vw;

    font-family: 'Gilroy-Medium';
    letter-spacing: 1px;
    -webkit-text-stroke-width: 0.1vw;
    font-size: 1.25vw;
    color: #000000;
}

.Description {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    margin-top: 8vw;

    font-family: 'Gilroy-Medium';
    letter-spacing: 1px;
    -webkit-text-stroke-width: 0.05vw;
    font-size: 1.25vw;
    color: #DADADA;
}

.CreatornHeading {
    grid-row-start: 4;
    grid-column-start: 2;
    margin-top: 2.5vw;

    font-family: 'Gilroy-Medium';
    letter-spacing: 1px;
    -webkit-text-stroke-width: 0.1vw;
    font-size: 1.25vw;
    color: #000000;
}

.Creator {
    grid-row-start: 4;
    grid-column-start: 2;
    margin-top: 4.5vw;

    font-family: 'Gilroy-Medium';
    letter-spacing: 1px;
    -webkit-text-stroke-width: 0.05vw;
    font-size: 1.25vw;
    color: #DADADA;
}

.NFTFrame {
    grid-row-start: 2;
    grid-column-start: 4;
    width: 28vw;
    height: 38vh;
    padding: 1vw;
    margin-top: 5vw;
    margin-left: 1.5vw;

    background-color: #ffffff;
    box-shadow: 80px 100px 400px #cacaca;
    border-radius: 1vw;
}

.NFTHolder {
    width: 28vw;
    height: 38vh;
    background-color: #000000;
    border-radius: 1vw;

    background-size: 100% 100%;
}

.IPFS {
    grid-row-start: 4;
    grid-column-start: 4;
    margin-top: 3vw;
    margin-left: 1.5vw;
    text-align: center;
    width: 6vw;
    height: 5vh;
    padding-top: 1vh;

    font-family: 'Gilroy-Medium';
    letter-spacing: 1px;
    -webkit-text-stroke-width: 0.05vw;
    font-size: 1.5vw;
    color: #ffffff;
    background-color: #000000;
    border-radius: 0.5vw;
}

.OpenSea {
    grid-row-start: 4;
    grid-column-start: 4;
    margin-top: 3vw;
    margin-left: 9vw;
    text-align: center;
    width: 10vw;
    height: 5vh;
    padding-top: 1vh;

    font-family: 'Gilroy-Medium';
    letter-spacing: 1px;
    -webkit-text-stroke-width: 0.05vw;
    font-size: 1.5vw;
    color: #ffffff;
    background-color: #000000;
    border-radius: 0.5vw;
}

.EtherScan {
    grid-row-start: 4;
    grid-column-start: 4;
    margin-top: 3vw;
    margin-left: 20.5vw;
    text-align: center;
    width: 11vw;
    height: 5vh;
    padding-top: 1vh;

    font-family: 'Gilroy-Medium';
    letter-spacing: 1px;
    -webkit-text-stroke-width: 0.05vw;
    font-size: 1.5vw;
    color: #ffffff;
    background-color: #000000;
    border-radius: 0.5vw;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: local('Gilroy-Medium'), url(../assets/fonts/Gilroy-Medium.ttf) format('truetype');
}
  
@font-face {
    font-family: 'Gilroy-Light';
    src: local('Gilroy-Light'), url(../assets/fonts/Gilroy-Light.ttf) format('truetype');
}